---
layout: default
---

<div id="search-searchbar"></div>

<main id="search-hits">
  <h2>Стандарты</h2>
  <ul>
    {% for item in site.data.accessibility.standarts %}
    <li>
      <a href="{{ item.url }}">{{ item.title }}</a>
    </li>
    {% endfor %}
  </ul>
  
  <h2>Сообщество</h2>
  <ul>
  {% for item in site.data.accessibility.community %}
    <li>
      <a href="{{ item.url }}">{{ item.title }}</a>
    </li>
  {% endfor %}
  </ul>
  
  <h2>Чеклисты</h2>
  <ul>
  {% for item in site.data.accessibility.checklists %}
    <li>
      <a href="{{ item.url }}">{{ item.title }}</a>
    </li>
  {% endfor %}
  </ul>
  
  <h2>Статьи</h2>
  <ul>
  {% for item in site.data.accessibility.articles %}
    <li>
      <a href="{{ item.url }}">{{ item.title }}</a>
    </li>
  {% endfor %}
  </ul>
  
  
</main>
