---
layout: default
pagination:
  enabled: true
---

<main>
  <div class="content">
    {% for post in paginator.posts %}
      <article>
        <header>
          <h2><a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></h2>
        </header>
        <section>
          <p>{{ post.content | truncatewords:50 | strip_html }}</p>
        </section>
        <footer>{{ post.date | date: "%e %B" }}</footer>
      </article>
    {% endfor %}

    {% if paginator.total_pages > 1 %}
      <div class="pagination">
      {% if paginator.next_page %}
        <a class="next" href="{{ paginator.next_page_path | prepend: site.baseurl }}">Следущая</a>
      {% endif %}
      </div>
    {% endif %}
  </div>
</main>

{% include jscroll.html %}
