<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title>mouseover.design</title>
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<style>
		html,
		body {
			margin: 0;
			height: 100%;
		}
		body {
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			justify-content: center;
			-ms-align-items: center;
			align-items: center;
/* 			font-family: 'Roboto', sans-serif; */
		}
		h1 {
			font-family: Tahoma;
		}
		p {
			font-family: Georgia;
		}
	</style>
</head>
<body>

{{ content }}

</body>
</html>
